{% extends "ris/fabric_base.html" %}
{% load i18n %}

{% block content %}
	{% if latest_study_list %}
		<ul>
		{% for study in latest_study_list %}
			<li><a href="{% url 'ris:update_register' study.id %}">{{ study.patient }}</a></li>
		{% endfor %}
		</ul>
	{% else %}
		<p>No studies are available.</p>
	{% endif %}

		<form action="{% url 'ris:register' %}" method="post" class="well">
			{% csrf_token %}
			{{ form.as_p }}
			<input type="submit" value="{% trans "Register" %}" class="btn btn-primary"/>
		</form>
{% endblock %}