{% if latest_study_list %}
    <ul>
    {% for study in latest_study_list %}
        <li><a href="{% url 'ris:study_detail' study.id %}">{{ study.patient }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No studies are available.</p>
{% endif %}

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'ris:study_register' %}" method="post">
{% csrf_token %}
    <label for="department">department</label>
	<select name="department">
{% for department in departments.all %}
		<option value="{{ department.id }}">{{ department.name }}</option>
{% endfor %}
	</select>
	<label for="visittype">visittype</label>
	<select name="visittype">
{% for visittype in visittypes.all %}
		<option value="{{ visittype.id }}">{{ visittype.name }}</option>
{% endfor %}
	</select>
	<label for="birthday">birthday</label><input type="text" name="birthday" />
	<label for="accnum">accessior number</label><input type="text" name="accnum" />
	<label for="name">name</label><input type="text" name="name" />
	<label for="study_date">study date</label><input type="text" name="study_date" />
	<input type="submit" value="Register" />
</form>